.question-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}
.question-item p {
    margin-bottom: 10px;
}

.accordian {
    flex-grow: 1;
    overflow-y: auto;
}
